/*大屏幕下(桌面类)的样式*/
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
    max-width: 1125px;
  }

  .post-container, .comments {
    width: 90%;
    margin: 0 auto;
    max-width: 1250px;
  }
}

@media screen and (min-width: 768px) {
  .info-break-policy {
    word-break: keep-all;
    float: left;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 993px) {
  .post-detail .article-card-content {
    padding: 0 50px 20px 50px;
  }
}
