$variables = base;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;

// Scaffolding
@import "_common/scaffolding/";

// Components
@import "_common/components/post/post.styl";


clearfix() {
  &::before, &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}


html, body {
  height: 100%;
  margin: 0;
  color: #34495e;
}

body {
  background-color: #eaeaea;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

.main {
  display: block;
}
.main {
  clearfix();
}

.home {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-item {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-cover {
  position: absolute;
  display: flex;
  align-items: center;
  height: 60vh;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  transform: translate3d(0px, 0px, 0px);
}

.pd-header {
  margin-top: -64px;
  transform: none!important;
  height: 350px;
  z-index: -1;
  top: 0;
  width: 100%;
}

.bg-cover .container {
  position: relative;
  color: #fff;
  z-index: 2;
}

.bg-cover .title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.85em;
  margin-bottom: 20px;
  position: relative;
}

.bg-cover .description {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4em;
  color: #eee;
}

.bg-item {
  .container {
    position: relative;
    color: #fff;
    z-index: 2;

    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    margin-top: -20rem;

    h1 {
      font-size: 4.35em;
      font-weight: 900;
      letter-spacing: -0.035em;
      line-height: 1em;
    }
    p {
      font-size: 1.25em;
      margin: 0.75em 0 0.25em 0;
      opacity: 0.75;
    }

    .col ul li {
      display: inline-block;

      a {
        transition: all 0.2s ease-in-out;
        border-radius: 100%;
        border: solid 1px #fff;
        display: block;
        font-size: 1.75em;
        height: 2.5em;
        line-height: 2.5em;
        position: relative;
        text-align: center;
        top: 0;
        width: 2.5em;
      }

      a:hover {
        font-size: 1.9em;
      }
    }
  }
}

header .nav-transparent, .index-nav {
  background-color: transparent !important;
  background-image: none;
  box-shadow: none;
}
.index-nav {
  margin-top: 1.5em;
}
.index-nav ul li {
  float: none;
  margin-left 1.5em;
}

.chip-container {
  margin-top: -60px;

  .tag-title {
    margin-bottom: 10px;
    color: #3C4858;
    font-size: 1.75rem;
    font-weight: 400;
  }

  .tag-chips {
    margin: 1rem auto 0.5rem;
    max-width: 850px;
    text-align: center;
  }

  .chip {
    margin: 10px 10px;
    padding: 0 14px;
    display: inline-block;
    height: 38px;
    min-width: 80px;
    line-height: 39px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
  }

  .chip-default {
    color: #34495e;
  }
}

.card {
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}

.card {
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}

.container .row {
  margin-bottom: 0;
}

.profile .avatar-img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  transform: translate3d(0, -65%, 0);
}

.profile .author {
  margin-top: -80px;
}

.post-statis {
  text-align: center
  .statis {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    text-align: center;
    letter-spacing: .03rem;

    .count {
      display: block;
      font-size: 1.3rem;
      font-weight: bold;
      text-decoration: underline;

      a {
        color: #42b983;
      }
    }

    .name {
      font-size: 0.9rem;
      color: #777;
    }
  }
}

.articles {
  padding-top: 150px;

  .card {
    border-radius: 8px;

    .card-content {
      padding: 15px 15px 12px 18px;
    }
  }

  .card-image {
    img {
      height: 300px;
      opacity: .7;
    }
  }

  a {
    margin-right: 0 !important;
    color: #525f7f;
    text-transform: none !important;
  }

  .article-content {
    .summary {
      padding-bottom: 2px;
      padding-left: 0;
      margin-bottom: 6px;
      word-break: break-all;
    }

    .publish-author {
      float: right;
    }

    .publish-author {
      .post-category {
        padding-left: 5px;
      }
    }
  }
}

.article .article-tags .chip {
  margin: 2px;
  font-size: 0.8rem;
  font-weight: 400;
  height: 22px;
  line-height: 22px;
  color: #fff;
  border-radius: 10px;
}

.publish-date .icon-date {
  padding-right: 5px;
}

.publish-author .icon-category {
  padding-left: 10px;
}

.post-detail {
  margin-top: -60px;
  .card {
    box-shadow: 0 10px 35px 2px rgba(0, 0, 0, .15), 0 5px 15px rgba(0, 0, 0, .07), 0 2px 5px -5px rgba(0, 0, 0, .1) !important;
  }

  .article-card-content {
    padding: 0 15px 20px 18px;
  }

  .article-info {
    padding: 20px 30px 1px 40px;
    margin-bottom: -5px;
  }

  .tag-cate {
    padding-bottom: 15px;
  }

  .article-tag {
    float: left;

    .chip {
      font-size: 1rem;
      font-weight: 400;
      height: 25px;
      line-height: 25px;
      color: #fff;
      border-radius: 15px;
      margin-right: 5px;
      margin-bottom: 2px;
    }
  }

  a {
    margin-right: 0 !important;
    text-transform: none !important;
  }

  .post-cate {
    float: right;
    color: #42b983;
  }

  .post-info {
    color: #525f7f;

    .post-date {
      color: #525f7f;
    }
  }

}

.info-break-policy {
  margin-bottom: 8px;
}

.clearfix {
  clear: left;
}

h2 {
  margin: 42px 0 18px -5px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}

#articleContent a {
  padding: 0 2px;
  color: #42b983;
  font-weight: 500;
  text-decoration: underline;
  word-wrap: break-word;
}


#articleContent h1::before, #articleContent h2::before, #articleContent h3::before, #articleContent h4::before, #articleContent h5::before, #articleContent h6::before {
  display: block;
  content: " ";
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

#articleContent p {
  margin: 2px 2px 10px;
  font-size: 1.05rem;
  line-height: 1.85rem;
}

code {
  padding: 1px 5px;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  font-size: 0.91rem;
  color: #e96900;
  background-color: #f8f8f8;
  border-radius: 2px;
}

h3 {
  margin: 38px 0 15px -4px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.7rem;
}

#articleContent ol, #articleContent ul {
  display: block;
  padding-left: 2em !important;
  word-spacing: 0.05rem;
}

#articleContent ul li {
  list-style-type: disc;
}
#articleContent ul li, #articleContent ol li {
  display: list-item;
  line-height: 1.8rem;
  font-size: 1rem;
}

h4 {
  margin: 32px 0 12px -4px;
  font-size: 1.45rem;
  font-weight: bold;
  line-height: 1.45rem;
}

h5 {
  margin: 32px 0 12px -4px;
  font-size: 1.45rem;
  font-weight: bold;
  line-height: 1.45rem;
}

blockquote {
  border-left: 5px solid #42b983;
  padding: 1rem 0.8rem 0.2rem 0.8rem;
  color: #666;
  background-color: rgba(66, 185, 131, .1);
}

#articleContent blockquote p {
  text-indent: 0.2rem;
}

#articleContent p {
  margin: 2px 2px 10px;
  font-size: 1.05rem;
  line-height: 1.85rem;
}

#articleContent table, th, td {
  padding: 12px 13px;
  //border: 1px solid #dfe2e5;
}

#articleContent table th {
  background-color: #f2f2f2;
  min-width: 80px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.bg-color {
  background-image: linear-gradient(to right, #4cbf30 0%, $tag-color 100%);
}

.chip .tag-length {
  margin-left: 5px;
  margin-right: -2px;
  font-size: 0.5rem;
}

.chip-default .tag-length {
  color: #e91e63;
}

.post-container, .chip-container, .about-container {
  padding-top 200px
}

.chip-container .chip-active {
  color: #FFF !important;
  background: linear-gradient(to bottom right, #FF5E3A 0%, #FF2A68 100%) !important;
  box-shadow: 2px 5px 10px #aaa !important;
}

.about {
  .social-link {
    margin: 0.5rem 0;
    text-align: center;

    a {
      display: inline-block;
      width: 2.3rem;
      height: 2.3rem;
      line-height: 2.2rem;
      margin: 0 0.5rem;
      padding: 0;
      color: #fff;
      border: 1px solid #0f9d58;
      background: radial-gradient(#4cbf30, #0f9d58);
      font-size: 0.9rem;
      border-radius: 50%;
      box-shadow: 0 4px 6px rgba(50, 50, 93, .21), 0 2px 3px rgba(0, 0, 0, .1);
    }
  }
}
@import "media.styl"


